<!DOCTYPE html>
<html>
  <head>
    <title>CHAT</title>
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <div class="content">
      <div class="nickname-field">
        <h1>Superchat!</h1>
        <form id="nickname-form" class="nickname-form">
          <input id="nickname-input" class="nickname-input" data-testid="nickname-box"
          placeholder="Change nickname" />
          <button class="nickname-button" data-testid="nickname-button">Save</button>
        </form>
        <ul id="nicknames" class="nicknames"></ul>
      </div>
      <ul id="messages" class="messages">
        <% history.forEach((entry) => { %>
          <li data-testid="message">
            <%=entry.timestamp%> - <%=entry.nickname%>: <%=entry.message%>
          </li>
        <% }) %>
      </ul>
      <form id="message-form" class="message-form">
        <input id="message-input" class="message-input" data-testid="message-box" />
        <button class="send-button" data-testid="send-button">Send</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>