<!doctype html>
<html>
  <head>
    <title>CHAT</title>
  </head>
  <body>
    <ul class="messages">
    </ul>
    <form>
      <input id="messageInput" />
      <button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>
  </body>
</html>