body {
  background-color: rgb(101, 101, 114);
  height: 500px;
  margin: auto;
}

.content {
  display: flex;
  height: 490px;
}

.message-form {
  bottom: 5px;
  height: 50px;
  position: fixed;
  width: 100%;
}

.message-input {
  background-color: rgb(211, 191, 191);
  font-size: 30px;
  height: 40px;
  margin-left: 0.5%;
  vertical-align: middle;
  width: 83%;
}

.send-button {
  background-color: rgb(231, 38, 38);
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
  vertical-align: middle;
  width: 15%;
}

.messages {
  background-color: green;
  height: 91%;
  margin-top: 0;
  overflow-y: auto;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 75%;
}

.messages li {
  color: white;
  font-size: 20px;
  position: relative;
}

.nickname-field {
  background-color: rgb(84, 55, 110);
  height: 91%;
  overflow-y: auto;
  padding-bottom: 1%;
  padding-top: 1%;
  width: 25%;
}

h1 {
  color: chartreuse;
  margin-top: 3%;
  text-align: center;
}

.nickname-form {
  display: flex;
  justify-content: center;
}

.nickname-input {
  background-color: rgb(236, 202, 115);
  width: 70%;
}

.nickname-button {
  background-color: rgb(231, 38, 38);
  border-radius: 5px;
  width: 15%;
}

.nicknames li {
  color: white;
  font-size: 20px;
  margin-top: 10%;
}
